@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/effect-fade';
@import 'swiper/css/pagination';
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
   font-family: 'Alexandria';
   src: url('./assets/fonts/Alexandria-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@theme {
   --font-alexandria: 'Alexandria', sans-serif;
}

body {
   font-family: var(--font-alexandria);
}

html.dark input:hover,
html.dark input:focus-visible {
   outline: 2px solid var(--color-white);
   outline-offset: -1px;
}

html.light input:hover,
html.light input:focus-visible {
   outline: 2px solid var(--color-black);
   outline-offset: -1px;
}

/* Change autocomplete styles in WebKit */
html.dark input:-webkit-autofill,
html.dark input:-webkit-autofill:hover,
html.dark input:-webkit-autofill:focus,
html.dark textarea:-webkit-autofill,
html.dark textarea:-webkit-autofill:hover,
html.dark textarea:-webkit-autofill:focus,
html.dark select:-webkit-autofill,
html.dark select:-webkit-autofill:hover,
html.dark select:-webkit-autofill:focus {
   border: 1px solid var(--color-white);
   -webkit-text-fill-color: var(--color-white);
   -webkit-box-shadow: 0 0 0px 1000px transparent inset;
   transition: background-color 50000s ease-in-out 0s;
}

html.light input:-webkit-autofill,
html.light input:-webkit-autofill:hover,
html.light input:-webkit-autofill:focus,
html.light textarea:-webkit-autofill,
html.light textarea:-webkit-autofill:hover,
html.light textarea:-webkit-autofill:focus,
html.light select:-webkit-autofill,
html.light select:-webkit-autofill:hover,
html.light select:-webkit-autofill:focus {
   border: 1px solid var(--color-gray-300);
   -webkit-text-fill-color: var(--color-black);
   -webkit-box-shadow: 0 0 0px 1000px transparent inset;
   transition: background-color 50000s ease-in-out 0s;
}

.swiper {
   width: 100%;
   height: calc(100vh - 64px);
}

.swiper-slide {
   display: flex;
}

.swiper-pagination {
   padding-bottom: 0.65rem;
}

.swiper-pagination span {
   background-color: var(--color-white);
   width: 0.65rem;
   height: 0.65rem;
}

@media (pointer: coarse) {
   .sidebar-menu-overflow {
      overflow-y: scroll;
   }
}

@media screen and (min-width: 768px) {
   .swiper {
      height: calc(100vh - 72px);
   }

   .swiper-pagination span {
      width: 0.75rem;
      height: 0.75rem;
   }
}

@media (min-width: 1024px) and (pointer: fine) {
   html {
      overflow-y: scroll;
   }
}

@media (hover: hover) and (pointer: fine) {
   a:hover,
   a:focus-visible {
      opacity: 0.8;
   }

   a:active {
      opacity: 1;
   }
}
